<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="ThemeBucket">
	<link rel="shortcut icon" href="#" type="image/png">

	<title>欢迎页</title>

	<!--icheck-->
	<link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
	<link href="js/iCheck/skins/square/square.css" rel="stylesheet">
	<link href="js/iCheck/skins/square/red.css" rel="stylesheet">
	<link href="js/iCheck/skins/square/blue.css" rel="stylesheet">
	
	<!--pickers css-->
  <link rel="stylesheet" type="text/css" href="js/bootstrap-datepicker/css/datepicker-custom.css" />
  <link rel="stylesheet" type="text/css" href="js/bootstrap-timepicker/css/timepicker.css" />
  <link rel="stylesheet" type="text/css" href="js/bootstrap-colorpicker/css/colorpicker.css" />
  <link rel="stylesheet" type="text/css" href="js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
  <link rel="stylesheet" type="text/css" href="js/bootstrap-datetimepicker/css/datetimepicker-custom.css" />

	<!--dashboard calendar-->
	  <link href="css/clndr.css" rel="stylesheet">

	  <!--Morris Chart CSS -->
	  <link rel="stylesheet" href="js/morris-chart/morris.css">

	  <!--common-->
	  <link href="css/style.css" rel="stylesheet">
	  <link href="css/style-responsive.css" rel="stylesheet">


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

	<section>
		<!-- left side start-->
		<div class="left-side sticky-left-side">

			<!--logo and iconic logo start-->
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="">
				</a>
			</div>

			<div class="logo-icon text-center">
				<a href="index.html"><img src="images/logo_icon.png" alt="">
				</a>
			</div>
			<!--logo and iconic logo end-->

			<div class="left-side-inner">

				<!-- visible to small devices only -->
				<div class="visible-xs hidden-sm hidden-md hidden-lg">
					<div class="media logged-user">
						<div class="media-body">
							<h4><a href="#">admin</a></h4>
						</div>
					</div>

					<h5 class="left-nav-title">帐户信息</h5>
					<ul class="nav nav-pills nav-stacked custom-nav">
						<li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a>
						</li>
						<li><a href="#"><i class="fa fa-sign-out"></i> <span>注销</span></a>
						</li>
					</ul>
				</div>

				<!--sidebar nav start-->
				<ul class="nav nav-pills nav-stacked custom-nav">
					
					<li class="active"><a href="index.html"><i class="fa fa-home"></i> <span>欢迎页</span></a></li>
					
					<li class="menu-list"><a href="management_review.html"><i class="fa fa-laptop"></i> <span>节目管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="management_playbill.html">节目单管理</a>
							</li>
							<li><a href="management_selected.html">精选管理</a>
							</li>
						</ul>
					</li>
					
					<li class="menu-list"><a href="management_review.html"><i class="fa fa-laptop"></i> <span>评论管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="management_review.html">评论管理</a>
							</li>
							<li><a href="keywords.html">关键词库</a>
							</li>
						</ul>
					</li>
					
					<li class="menu-list"><a href="m"><i class="fa fa-cogs"></i> <span>活动管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="management_activity.html">活动管理</a>
							</li>
							<li><a href="management_hongniang.html">红娘活动</a>
							</li>
						</ul>
					</li>

					<li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>用户积分管理</span></a>
						<ul class="sub-menu-list">
							<li><a href="management_user_points.html">用户积分</a>
							</li>
							<li><a href="management_prizes.html">积分奖品管理</a>
							</li>
							<li><a href="winning_record.html">获奖记录</a>
							</li>
						</ul>
					</li>

					<li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>其他</span></a>
						<ul class="sub-menu-list">
							<li><a href="other_phonograph.html">乱弹留声机</a></li>
							<li><a href="other_feedback.html">意见反馈</a></li>
							<li><a href="other_vote.html">投票管理</a></li>
							<li><a href="other_questionnaire.html">问卷调查</a></li>
						</ul>
					</li>
					
				</ul>
				<!--sidebar nav end-->

			</div>
		</div>
		<!-- left side end-->

		<!-- main content start-->
		<div class="main-content">

			<!-- header section start-->
			<div class="header-section">

				<!--toggle button start-->
				<a class="toggle-btn"><i class="fa fa-bars"></i></a>
				<!--toggle button end-->

				<!--notification menu start -->
				<div class="menu-right">
					<ul class="notification-menu">
						
						<li>
							<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">admin
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-usermenu pull-right">
								<li><a href="#"><i class="fa fa-cog"></i>设置</a>
								</li>
								<li><a href="#"><i class="fa fa-sign-out"></i>注销</a>
								</li>
							</ul>
						</li>

					</ul>
				</div>
				<!--notification menu end -->

			</div>
			<!-- header section end-->

			<!-- page heading start-->
			<div class="page-heading">
				<h3>欢迎页</h3>
				<ul class="breadcrumb">
					<li>
						<a href="#">欢迎页</a>
					</li>
				</ul>
			</div>
			<!-- page heading end-->

			<!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
               	<div class="col-md-12">
               		<div class="form-group col-md-2">
               			<form action="">
								<div data-date-viewmode="days" data-date-format="yyyy-mm-dd" data-date=""  class="input-append date dpYears">
								<input type="text" readonly="" value="" size="16" class="form-control">
								<span class="input-group-btn add-on">
									<button class="btn btn-primary" type="button"><i class="fa fa-calendar"></i></button>
								</span>
							</div>
               			</form>					
					</div>
               	</div>
                <div class="col-md-12">
                    <!--statistics start-->
                    <div class="state-overview">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <div class="panel purple">
                                <div class="symbol">
                                    <i class="fa fa-gavel"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">23008</div>
                                    <div class="title">直播收听</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <div class="panel red">
                                <div class="symbol">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">3490</div>
                                    <div class="title">节目回听</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="state-overview">
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="panel blue">
                                <div class="symbol">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">22014</div>
                                    <div class="title">精选节目</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-6">
                            <div class="panel green">
                                <div class="symbol">
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value">39001</div>
                                    <div class="title">小游戏</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--statistics end-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row revenue-states">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h4>直播收听变化</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <ul class="revenue-nav">
                                        <li><a href="#">weekly</a></li>
                                        <li><a href="#">monthly</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <div id="main-chart-legend" class="pull-right">
                                        </div>
                                    </div>

                                    <div id="main-chart">
                                        <div id="main-chart-container" class="main-chart">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

		</div>
		<!-- main content end-->
	</section>

	<!-- Placed js at the end of the document so the pages load faster -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/jquery.nicescroll.js"></script>

	<!--easy pie chart-->
	<script src="js/easypiechart/jquery.easypiechart.js"></script>
	<script src="js/easypiechart/easypiechart-init.js"></script>

	<!--Sparkline Chart-->
	<script src="js/sparkline/jquery.sparkline.js"></script>
	<script src="js/sparkline/sparkline-init.js"></script>

	<!--icheck -->
	<script src="js/iCheck/jquery.icheck.js"></script>
	<script src="js/icheck-init.js"></script>

	<!-- jQuery Flot Chart-->
	<script src="js/flot-chart/jquery.flot.js"></script>
	<script src="js/flot-chart/jquery.flot.tooltip.js"></script>
	<script src="js/flot-chart/jquery.flot.resize.js"></script>


	<!--Morris Chart-->
	<script src="js/morris-chart/morris.js"></script>
	<script src="js/morris-chart/raphael-min.js"></script>

	<!--Calendar-->
	<script src="js/calendar/clndr.js"></script>
	<script src="js/calendar/evnt.calendar.init.js"></script>
	<script src="js/calendar/moment-2.2.1.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	
	<!--pickers plugins-->
	<script type="text/javascript" src="js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="js/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
	<script type="text/javascript" src="js/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

	<!--common scripts for all pages-->
	<script src="js/scripts.js"></script>

	<!--Dashboard Charts-->
	<script src="js/dashboard-chart-init.js"></script>
	
	<script>
		$(function(){
			window.prettyPrint && prettyPrint();

			$('.dpYears').datepicker().on('changeDate', function() {
				
				$('.dpYears').datepicker('hide');
				alert("日期被更新了，记得Ajax重新请求后台数据。");
			});
			
		});
	</script>

</body>

</html>
